h2{
    font-size: $font-size-l !important;
    font-family: 'Cherry Swash';
    font-style: normal;
}

.cards-typo{
    font-family: 'Montserrat' !important;
    color: black !important;
}

.home-cards-list{
    a{
        text-decoration: none !important;
        div{
            p{
                font-family: 'Montserrat' !important;
                color: black !important; 
            }
        }
    }
}