h2{
    font-size: $font-size-l !important;
    font-family: 'Cherry Swash';
    font-style: normal;
}

.cards-typo{
    font-family: 'Montserrat' !important;
    color: black !important;
}

.home-cards-list{
    a{
        text-decoration: none !important;
        div{
            p{
                font-family: 'Montserrat' !important;
                color: black !important; 
            }
        }
    }
}

//Cart
#cart{
    font-family: 'Montserrat';
    color: black;
    font-size: $font-size-s;
}
//table
div#table{
    font-family: 'Montserrat';
    color: black;
    font-size: 1.3rem;

}

//form
#form-detail{
    h3{
        font-family: 'Montserrat';
        color: black;
        font-size: $font-size-s;
    }
    form{
        &.formContainer{
            font-size: $font-size-base;

            input{
                font-size: 1.3rem;
            }
        }
    }
}