
$font-size-base: 2rem;
$font-size-s: 2.5rem;
$font-size-m: 3rem;
$font-size-l: 3.5rem;
$font-size-xl: 4rem;
$font-size-xxl: 4.5rem;
$font-size-3xl: 5rem;

$color-neon-green: #00FF74;
$color-neon-pink: #FF008B;
$color-neon-blue:#4666FF;
$color-black: #000000;
$color-white: #FFFF;
