#cart{
    padding-top: 130px;
    div{
        .card-empty{
            img{
                max-width: 50%;
            }
        }
        &#actions-cart{
            a{
            button{
                &.btn-continue-buy{
                    background-color: $color-neon-pink;
                    border: solid $color-neon-pink;
                    border-radius: 0px;
                    height: 55px;
                    width: 100%;
                    font-size: $font-size-s;
                    font-family: 'Montserrat';
                    color: white;
                    &:hover{
                        color: black;
                        background-color: white;
                    }
                }
            }  
            }

        }
        &#div-table-form{
            width: 100%;
            div{
                .btn-table{
                    background-color: $color-neon-pink;
                    border: solid $color-neon-pink;
                    border-radius: 0px;
                    font-size: 1.4rem;
                    font-family: 'Montserrat';
                    color: white;
                }
            }
        }
    }
}

#form-detail{
    form{
        div{
            &.personal-info{
                width: 45%;
            }
        }

        button{
            background-color: $color-neon-pink;
            border: solid $color-neon-pink;
            border-radius: 0px;
            font-size: $font-size-s;
            font-family: 'Montserrat';
            color: white;
            &:hover{
                color: black;
                background-color: white;
            }
        }
    }
}

button{
    &.disabled{
        background-color: lightgrey !important; 
        color: white !important
    }
}