.error-container{
    background-color: $color-neon-pink;
    border: 8px solid $color-neon-green;
    height: 80vh;
    margin-top: 150px;
    #div-alert {
        //font
        font-size: $font-size-s;
        font-family: 'Cherry Swash';
        font-style: normal;
    }
    div{
        img{
            width:25%;
        }
    }
}
